<mat-toolbar color="primary" class="card-toolbar">
  <span>Cars</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="createNewCar()">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
<mat-card class='main-card'>
  <mat-form-field class='search'>
    <input matInput placeholder="Search by Model or Make" class='search' [(ngModel)]="searchTerm" (keydown.enter)="searchCar(searchTerm)">
    <button mat-button *ngIf="searchTerm" matSuffix mat-icon-button aria-label="Clear" (click)="searchTerm=''; getCars();">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-button *ngIf="searchTerm" matSuffix mat-icon-button aria-label="Search" (click)="searchCar(searchTerm)">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</mat-card>

<mat-card class='main-card'>
  <mat-card-title>Car List</mat-card-title>
  <div class="car_list">
    <mat-spinner *ngIf="showLoading" class="loading-circle">
    </mat-spinner>
    <mat-accordion *ngIf="cars" class="headers-align">
      <div *ngFor="let car of cars">
        <app-car-item [car]="car" (refresh)="getCars()"></app-car-item>
      </div>
    </mat-accordion>
  </div>
</mat-card>