<h1>New Car</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Make</mat-label>
    <mat-select [(ngModel)]="car.make">
      <mat-option *ngFor="let make of makes" [value]="make.name" required>
        {{make.name}}
      </mat-option>
    </mat-select>
    <mat-error>
      Make is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Body Type</mat-label>
    <mat-select [(ngModel)]="car.body">
      <mat-option *ngFor="let bodyType of bodyTypes" [value]="bodyType.id" required>
        {{bodyType.name}}
      </mat-option>
    </mat-select>
    <mat-error>
      Body type is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Model" [(ngModel)]="car.model" required>
    <mat-error>
      Car Model is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Year" [(ngModel)]="car.year" pattern="^(19|20)\d{2}$" required>
    <mat-error>
      Year Must later than <strong>1900</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Color</mat-label>
    <mat-select [(ngModel)]="car.color">
      <mat-option *ngFor="let color of colors" [value]="color.name" required>
        {{color.name}}
      </mat-option>
    </mat-select>
    <mat-error>
      Color is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Price" [(ngModel)]="car.price" type="number" required>
    <mat-error>
      Price is <strong>invalid</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Stock" [(ngModel)]="car.stock" pattern="[0-9]*" type="number" required>
    <mat-error>
      Stock is <strong>invalid</strong>
    </mat-error>
  </mat-form-field>
  <ngx-uploadcare-widget
    images-only="true"
    public-key="537732046f855a9c09ca"
    (on-upload-complete)="onUploadHandler($event)"
  ></ngx-uploadcare-widget>
</div>
<div mat-dialog-cations>
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button (click)="createCar()" [disabled]="!carValidator(car)" color="primary">Create</button>
</div>